@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.woff2') format('woff2'),
        url('Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-attachment: sticky;
	background-color: #fff;
	background-image: linear-gradient(rgba(255,255,255, 0.6), rgba(255,255,255, 0.6)), url("fundo_ratatouille.png");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto;
}
.navbar{
	box-shadow: 0 0 7px #000;
}
.logo{
	text-align: center;
	align-content: center;
	font-family: Butler;
	font-size: 4rem;
	text-decoration: none;
	justify-content: space-around;
	color: #000;
}

.logo img{
	width: 100px;
	height: 105px;
}
.menu{
	position: relative;
	font-family: Butler;
	font-size: 2rem;
}

.menu li{
	text-align: center;
	justify-content: space-around;
	padding: 10px;
}

.nav-item{
	text-align: right;
	position: center;
}

.nav-link{
	position: center;
}

section{
	padding-top: 15rem;
}

/** HOME */
#home{
	padding-top: 5rem;
}

#home p{
	height: 10px;
	font-size: 4rem;
	padding-top: 3%;
	margin-left: 20%;
	font-family: Butler;
	font-weight: bold;
	transform: rotate(-7deg);
}
#prato-comida{
	display: block;
	max-height: 100%;
	width: auto;
}
#garfo{
	display: block;
	margin-left: 50%;
	max-width: 20%;
	height: auto;
}
#prato{
	display: block;
	margin-left: 25%;
	max-width: 40%;
	height: auto;
	z-index: -1;
}

/** SOBRE */

#sobre-txt{
	margin-top: 30px;
	padding-top: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}

#sobre-txt h1{
	margin-top: 20px;
	margin-bottom: 0;
	padding-right: 20px;
	font-family: Butler;
	font-weight: bolder;
	text-align: center;
}

#historia{
	margin-right: 40px;
}

#historia p{
	font-family: Montserrat, sans-serif;
	font-size: 2vh;
	font-weight: bold;
	margin-left: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;

}

#sobre-txt h2{
	padding-top: 20px;
	font-family: Butler;
	font-weight: normal;
	color: #000;
}

.foto{
	max-width: 20%;
	min-width: 20%;
	height: auto;
	padding: 4px;
	float: left;
}

.ego p{
	font-family: Montserrat, sans-serif;
	font-size: 1.5vh;
	font-weight: medium;
	align-items: center;
	max-width: 60%;
	margin-left: 140px;
	margin-bottom: 0;
	line-height: 40px;
}

.linguini{
	margin-top: 20px;
}

.linguini p{
	font-family: Montserrat, sans-serif;
	font-size: 1.5vh;
	font-weight: medium;
	align-items: center;
	max-width: 60%;
	margin-left: 140px;
	margin-bottom: 0;
	line-height: 30px;
}

.colete{
	margin-top: 20px;
}

.colete p{
	font-family: Montserrat, sans-serif;
	font-size: 1.5vh;
	font-weight: medium;
	align-items: center;
	max-width: 60%;
	margin-left: 140px;
	margin-bottom: 0;
	line-height: 30px;	
}

/** CARDAPIO */
#pratos{
	margin-top: 20px;
	padding-top: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}
#pratos h1{
	font-family: Butler;
	font-weight: bold;
}

#pratos h2{
	font-family: Butler;
	font-weight: normal;
	color: #000;
	margin-left: 60px;
}
#pratos img{
	width: 100%;
}

.polaroid {
  	width: 30%;
  	background-color: #f1f1f5b7;
  	margin-bottom: 25px;
}

.container p{
	font-family: Montserrat, sans-serif;
	font-weight: medium;
	color: #000;
	font-size: 15px;
 	text-align: center;
  	padding-top: 20px;
}
/** RESERVAS */
#reservas{
	margin-top: 30px;
	padding-top: 10px;
	background-color: rgba(255, 255, 255, 0.7);
}
#reservas h1{
	font-family: Butler;
	font-weight: bold;
}
#mapa p{
	margin: 0;
}
iframe{
	width: 100%;
	height: 400px;
}

footer{

	font-family: Montserrat,sans-serif;
	font-weight: medium;
	letter-spacing: 5px;
	text-align: center;
	font-size: 15px;
}

footer p{
	margin: 0;
	padding: 5px;

}



@media screen and (min-width: 992px){
/*efeito hover do menu - littlesnippets.net*/
.navbar-nav * {
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;	
  	-webkit-transition: all 0.35s ease;
  	transition: all 0.35s ease;
  	justify-content: space-around;
  	display: flex;
  	width: 150%;
}
.navbar-nav li {
	display: inline-block;
	list-style: outside none none;
	margin: 0.5em 1em;
	padding: 5px;
 
}
.navbar-nav a {
	font-size: 28px;
  	padding: 0.6em 12px;
  	color: rgb(0, 0, 0);
  	position: relative;
  	letter-spacing: 0px;
  	text-decoration: none;
}
.navbar-nav a:before,
.navbar-nav a:after {
  	left: 0%;
  	right: 0%;
  	top: 50%;
  	-webkit-transform: translateY(-50%) rotate(0deg);  	
  	transform: translateY(-50%) rotate(0deg);
  	content: '';
  	border-left: 12px solid #a64a37;
  	border-right: 12px solid #a64a37;
  	height: 2px;
 	position: absolute;
 	-webkit-transition: all 0.35s ease;
  	transition: all 0.35s ease;
}
.navbar-nav a:hover,
.navbar-nav .current a {
  	color: #000;
}
.navbar-nav a:hover:before,
.navbar-nav .current a:before {
	-webkit-transform: translateY(-50%) rotate(12deg);
  	transform: translateY(-50%) rotate(12deg);
}
.navbar-nav a:hover:after,
.navbar-nav .current a:after {
	-webkit-transform: translateY(-50%) rotate(-12deg);
  	transform: translateY(-50%) rotate(-12deg);
}
/*efeito hover do menu - littlesnippets.net*/
}

@media screen and (max-height: 690px){
	section{
		padding-top: 4rem;
	}

	.logo{
		font-size: 3rem;
	}
	.logo img{
	width: 70px;
	height: 75px;
	}
	.menu a{
		font-size: 1.5rem;
	}
	#garfo{
		margin-top: 0;
	}
	#sobre{
		margin-top: 100px;
	}
	#equipe p{
		font-size: 1rem;
	}
}

@media screen and (max-width: 1120px){
	.menu a{
		font-size: 20px;
		padding: 0;
	}	
}

@media screen and (max-width: 991px){
	section{
		padding-top: 1rem;
	}
	.logo{
		font-size: 3rem;
	}
	.logo img{
		width: 70px;
		height: 75px;
	}
	#home p{
		font-size: 2rem;
		z-index: 0;
	}
	#home img{
		z-index: 0;
	}
	#sobre-txt p{
		margin: 20px 60px 10px 60px;
		font-size: 20px;
	}
	.foto{
		margin-right: 20px;
	}

	#equipe p{
		margin: 0;
		font-size: 1rem;
		width: 60%
	}
	.polaroid{
		width: 100%;
	}
}